/*
 * Just some minimal styling to make it far from pretty,
 * but slightly less ugly
 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2 {
    padding-top: 24px;
}

body {
    font-family: "Helvetica", "Arial", "sans-serif";
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-areas: ". content .";
    padding-left: 8px;
    padding-right: 8px;
}

main {
    grid-area: content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    box-shadow: rgba(14, 30, 37, 0.12) 0 2px 4px 0px,
                rgba(14, 30, 37, 0.32) 0 2px 16px 0px;
}

button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    align-self: start;
}

form {
    align-self: start;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

li {
    display: grid;
    grid-template-columns: 7em 12em 12em;
    column-gap: 8px;
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    font-size: 0.83em;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 4px 8px;
}

th {
    background-color: rgb(235,235,235);
}

td {
    text-align: center;
}

caption {
    color: rgba(0,0,0,0.87);
    caption-side: bottom;
    padding: 8px;
}

input:focus:invalid {
    background-color: rgba(255,0,0,0.07);
}

ul.userdata {
    gap: 4px;
}

.error {
    font-size: 0.83em;
    color: rgba(0,0,0,0.6);
}
